@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-lime-fog: #d9ed92;
  --color-lime-meadow: #b5e48c;
  --color-lime-leaf: #99d98c;

  --color-mint-breeze: #76c893;
  --color-seafoam: #52b69a;
  --color-teal-tide: #34a0a4;

  --color-ocean-sky: #168aad;
  --color-deep-water: #1a759f;
  --color-reef-dark: #1e6091;

  --color-midnight-bay: #184e77;
}

html {
  font-family: "Roboto Flex", sans-serif;
  background-color: #fefae0;
  color-scheme: light;
}
